<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkify - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* This is to overide the postman original styles */
        .postman-run-button {
            height: 39px !important;
            width: 155px !important;
            background-size: cover !important;
        }
    </style>
</head>

<body class="bg-blue-100 text-gray-900">
    <header class="bg-blue-600 text-white py-3">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <div class="flex justify-center items-center align-center gap-5 md:pl-0">
                <img src="/images/logo/logo-color.svg" alt="Logo" class="w-16 md:w-20 rounded-xl">
                <h1 class="text-3xl font-bold">Linkify</h1>
            </div>
            <div class="hidden md:flex gap-3">
                <a href="https://www.linkedin.com/in/shreyasprabhu26/" target="_blank"
                    class="whitespace-nowrap bg-gray-200 text-gray-900 py-2 px-4 rounded">Contact US</a>
                <% if(user) {%>
                    <a href="/logout" class="whitespace-nowrap bg-gray-200 text-gray-900 py-2 px-4 rounded">
                        Log Out
                    </a>
                    <%}%>
                        <% if (!user) { %>
                            <a href="/signup"
                                class="whitespace-nowrap block bg-gray-200 text-gray-900 py-2 px-4 rounded">Sign
                                Up</a>
                            <a href="/login"
                                class="whitespace-nowrap block bg-white text-blue-600 py-2 px-4 rounded">Login</a>
                            <% } %>

            </div>
            <button id="menu-button" class="md:hidden focus:outline-none">
                <svg class="w-11 h-11 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </button>
        </div>
        <div id="mobile-menu" class="hidden md:hidden">
            <a href="https://www.linkedin.com/in/shreyasprabhu26/" target="_blank"
                class="block bg-gray-200 text-gray-900 py-2 px-4">Contact US</a>
            <% if (!user) { %>
                <a href="/signup" class="whitespace-nowrap block bg-gray-200 text-gray-900 py-2 px-4">Sign Up</a>
                <a href="/login" class="whitespace-nowrap block bg-white text-blue-600 py-2 px-4">Login</a>
                <% } %>
        </div>
    </header>

    <main class="container mx-auto px-4 py-8">
        <% if (!locals.user) { %>
            <section
                class="p-10 text-center mb-12 flex flex-col justify-center border border-gray-300 shadow-lg rounded-lg bg-indigo-900">
                <h2 class="text-3xl md:text-5xl font-bold mb-6 text-white">"Simplify Your Links, Amplify Your Insights."
                </h2>

                <p class="md:text-lg mb-6 text-white">Use our URL shortener to engage your audience and connect them to
                    the
                    right
                    information. Build, edit, and track everything inside the Linkify Connections Platform.</p>

                <p class="md:text-lg mb-10 text-white">Build, edit, and track everything inside the Linkify Connections
                    Platform.</p>

                <div class="flex justify-center space-x-4">
                    <button class="whitespace-nowrap bg-blue-600 text-white py-2 px-6 rounded"
                        onclick="location.href='/signup'">Get started for free</button>
                    <a href="https://linkify-app.shreyas.info/api-docs" target="_blank">
                        <button class="whitespace-nowrap bg-gray-200 text-gray-900 py-2 px-6 rounded">API-DOCS</button>
                    </a>
                    <div class="postman-run-button" data-postman-action="collection/fork"
                        data-postman-visibility="public"
                        data-postman-var-1="34566063-44642545-caeb-4596-99a4-397558373d97"
                        data-postman-collection-url="entityId=34566063-44642545-caeb-4596-99a4-397558373d97&entityType=collection&workspaceId=24aafa16-5bcb-4098-b8ef-93d99e462a59">
                    </div>
                </div>
            </section>
            <% } %>
                <% if (locals.user) { %>
                    <section>
                        <form action="/url" method="post" class="flex justify-center mb-8">
                            <input type="text" placeholder="Enter your URL here" name="redirectURL"
                                class="w-full md:w-1/2 px-4 py-2 rounded-l-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <button type="submit"
                                class="bg-blue-600 text-white px-4 py-2 rounded-r-lg hover:bg-blue-700 whitespace-nowrap">Shorten
                                URL</button>
                        </form>
                    </section>

                    <section class="mb-8">
                        <h2 class="text-2xl font-bold mb-4">Your Shortened URLs</h2>
                        <% allUrlInformation.forEach(urlInfo=> { %>
                            <div class="p-4 bg-white border border-gray-300 rounded-lg mb-8">
                                <div class="flex justify-between mb-4">
                                    <div class="bg-blue-200 p-3 rounded">
                                        <strong>Short ID:</strong>
                                        <%= urlInfo.shortId %>
                                    </div>
                                    <div class="bg-blue-100 p-3 rounded">
                                        <strong>Custom Redirect URL:</strong>
                                        <a href="http://linkify-app.shreyas.info/<%= urlInfo.shortId %>" target="_blank"
                                            class="text-blue-600 hover:underline">
                                            linkify-app.shreyas.info/<%= urlInfo.shortId %>
                                        </a>
                                    </div>
                                    <div class="bg-blue-100 p-3 rounded">
                                        <strong>Original URL:</strong>
                                        <a class="text-blue-600 hover:underline">
                                            <%= urlInfo.redirectURL %>
                                        </a>
                                    </div>
                                    <div class="bg-blue-100 p-3 rounded">
                                        <strong>Total Click:</strong>
                                        <a class="text-blue-600 hover:underline">
                                            <span class="text-xl">
                                                <%= urlInfo.visitHistory.length %>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                                <% urlInfo.visitHistory.forEach(visit=> { %>
                                    <div class="mb-4">
                                        <div
                                            class="grid grid-cols-2 gap-4 p-4 border border-gray-300 rounded-lg bg-white mb-4">
                                            <div><strong>Timestamp:</strong>
                                                <%= visit.timestamp %>
                                            </div>
                                            <div><strong>IP Address:</strong>
                                                <%= visit.ip_address %>
                                            </div>
                                            <div><strong>Device:</strong>
                                                <%= visit.device %>
                                            </div>
                                            <div><strong>OS:</strong>
                                                <%= visit.os %>
                                            </div>
                                            <div><strong>Browser:</strong>
                                                <%= visit.browser %>
                                            </div>
                                            <div><strong>County:</strong>
                                                <%= visit.county %>
                                            </div>
                                            <div><strong>Region:</strong>
                                                <%= visit.region %>
                                            </div>
                                            <div><strong>Region Name:</strong>
                                                <%= visit.regionName %>
                                            </div>
                                            <div><strong>City:</strong>
                                                <%= visit.city %>
                                            </div>
                                            <div><strong>Latitude:</strong>
                                                <%= visit.lat %>
                                            </div>
                                            <div><strong>Longitude:</strong>
                                                <%= visit.lon %>
                                            </div>
                                            <div><strong>ISP:</strong>
                                                <%= visit.isp %>
                                            </div>
                                            <div><strong>Org:</strong>
                                                <%= visit.org %>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                            <% }); %>
                    </section>
                    <% } %>

                        <% if (!user) { %>
                            <section class="bg-blue-50 text-center mb-12 p-10 rounded-xl pb-20">
                                <h2 class="text-2xl font-bold mb-10">The Linkify Connections Platform</h2>
                                <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
                                    <div class="bg-white p-8 shadow-lg rounded-lg">
                                        <img src="/images/carousel/url-shortner-image.png" alt="URL Shortener"
                                            class="w-full h-48 object-cover mb-6 rounded-xl">
                                        <h3 class="text-xl font-bold mb-4">URL Shortener</h3>
                                        <p>Shorten links and track their performance. Manage your URLs.</p>
                                        <button class="bg-blue-500 mt-1 p-2 rounded-xl font-inter inline-block w-full"
                                            onclick="location.href='/signup'">Let's Get Started</button>
                                    </div>
                                    <div class="bg-white p-8 shadow-lg rounded-lg">
                                        <img src="/images/carousel/qr-code-scaning.jpg" alt="QR Codes"
                                            class="w-full h-48 object-cover mb-6 rounded">
                                        <h3 class="text-xl font-bold mb-4">QR Codes</h3>
                                        <p>Create and manage QR codes for your business. Track scans and interactions.
                                        </p>
                                        <p class="bg-blue-500 mt-1 p-2 rounded-xl font-inter">Coming soon</p>
                                    </div>
                                    <div class="bg-white p-8 shadow-lg rounded-lg">
                                        <img src="/images/carousel/analytics.png" alt="Landing Pages"
                                            class="w-full h-48 object-cover mb-6 rounded-xl">
                                        <h3 class="text-xl font-bold mb-4">Real Time Analytics</h3>
                                        <p>Monitor user interactions and performance with real-time analytics.</p>
                                        <button class="bg-blue-500 mt-1 p-2 rounded-xl font-inter inline-block w-full"
                                            onclick="location.href='/signup'">Let's Get Started</button>
                                    </div>
                                </div>
                            </section>


                            <section class="bg-blue-50 text-center mb-12 p-10 rounded-xl pb-20">
                                <h2 class="text-2xl font-bold mb-10">Join us on our journey to simplify your digital
                                    connections</h2>
                                <div class="grid grid-cols-1 sm:grid-cols-3 gap-12">
                                    <div class="bg-blue-500 p-8 shadow-lg rounded-lg">
                                        <h3 class="text-xl font-bold mb-4">500+</h3>
                                        <p>Early Adopters</p>
                                    </div>
                                    <div class="bg-blue-500 p-8 shadow-lg rounded-lg">
                                        <h3 class="text-xl font-bold mb-4">1K+</h3>
                                        <p>Links Shortened</p>
                                    </div>
                                    <div class="bg-blue-500 bg-white p-8 shadow-lg rounded-lg">
                                        <h3 class="text-xl font-bold mb-4">5K+</h3>
                                        <p>Clicks and Scans</p>
                                    </div>
                                </div>
                            </section>

                            <section class="bg-blue-50 text-center mb-12 p-10 rounded-xl pb-20">
                                <h2 class="text-2xl font-bold mb-6">What our customers are saying</h2>
                                <div class="bg-white p-8 shadow-lg rounded-lg">
                                    <blockquote class="text-base md:text-lg mb-6">
                                        <p>"Choosing Linkify for generating our shortened URLs was an easy decision for
                                            our team. We love
                                            its reliability and ease of use."</p>
                                    </blockquote>
                                    <p class="font-bold">Alex Johnson</p>
                                    <p>Marketing Specialist</p>
                                </div>
                            </section>
                            <% } %>
    </main>

    <footer class="bg-gray-200 py-4">
        <div class="container mx-auto px-4 text-center">
            <p>&copy; 2024 Linkify. All rights reserved.</p>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('menu-button').addEventListener('click', () => {
                const menu = document.getElementById('mobile-menu');
                menu.classList.toggle('hidden');
            });
        });
    </script>
    <script type="text/javascript">
        (function (p, o, s, t, m, a, n) {
            !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
            !o.getElementById(s + t) && o.getElementsByTagName("head")[0].appendChild((
                (n = o.createElement("script")),
                (n.id = s + t), (n.async = 1), (n.src = m), n
            ));
        }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
    </script>
</body>

</html>