<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
<link rel="stylesheet" href="/homepage.css">
</head>
<body>
<header>
    <div class="container">
        <h1>URL Shortener</h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="shorten-url-form">
            <h2>Enter your original URL</h2>
            <form method="post" action="/url">
                <input type="text" name="redirectURL" placeholder="Enter your long URL here..." required>
                <button type="submit">Generate</button>
            </form>
        </div>

        <% if (locals.urls && locals.urls.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>S. No</th>
                        <th>Short ID</th>
                        <th>Redirect</th>
                        <th>Total Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td>
                            <td><a href="http://localhost:8000/url/<%= url.shortId %>" target="_blank"><%= url.redirectURL %></a></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</main>
<footer>
    <div class="container">
        <p>&copy; 2024 URL Shortener. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
